@import 'assets/scss/vars';

.wrap {
  position: relative;
  margin: -3px 0 -1px 7px;
  padding: 6px;
}

.circle {
  position: absolute;
  top: 3px;
  right: 3px;
  color: $greenSuperLight;
  font-size: 8px;
}

.icon {
  font-size: 16px;
}
