@import 'assets/scss/vars';

.cont {
  position: relative;
  display: grid;
  grid-template-columns: 263px 1fr;
  gap: 24px;
  margin: 22px 24px 24px 0;
}

.label {
  margin-bottom: 15px;
}

.period {
  padding: 7px 18px;
  line-height: 24px;
}

.error {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  color: $error;
  font-size: 14px;
}

.item {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.button {
  margin-left: 20px;
}

.periods {
  width: 100%;

  button {
    flex: 1 0 auto;
  }
}
