@import 'assets/scss/vars';

.wrap {
  position: absolute;
  top: 24px;
  right: 0;
}

.tooltip1 {
  margin-top: 10px !important;
  margin-right: -50px !important;
}

.tooltip2 {
  margin-top: 10px !important;
  margin-right: -10px !important;
}
