@import '../../../../../assets/scss/vars';

.placeholder {
  display: none;
  margin-bottom: 10px;
  background-color: $superLight;
  border: 1px dashed $border;
  border-radius: 5px;
}

.show {
  position: relative;
  z-index: 1;
  display: block;
}
