.popover {
  width: 400px;
  padding: 0 15px;
  font-size: 14px;
}

.text {
  padding: 0 35px 0 0;
  overflow: hidden;
  font-size: 14px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
