@import 'assets/scss/vars';

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 8px 0 15px;
  background-color: $lightBg;
  border-radius: 5px;
}

.cont {
  display: flex;
  width: calc(100% - 60px);
}

.heightAuto {
  height: auto;
}
